<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>207314336522-8tebpin6sbedj1eco7o7ssmkdnjg5pum.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207314336522-8tebpin6sbedj1eco7o7ssmkdnjg5pum</string>
	<key>API_KEY</key>
	<string>AIzaSyBNlLnyDSCsSa3TSKUhRbcSwIkYnBmqQ1I</string>
	<key>GCM_SENDER_ID</key>
	<string>207314336522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.verygoodcore.maasters</string>
	<key>PROJECT_ID</key>
	<string>maasters-72b3a</string>
	<key>STORAGE_BUCKET</key>
	<string>maasters-72b3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207314336522:ios:465b50f21f7d9141f998f3</string>
</dict>
</plist>